.hide{
    display: none;
}
.inner{
    width: 80%;
    margin: 0 auto;
}
.innerPadding{ /*카멜케이스방식:첫자소문자로시작..다른단어첫자는 대문자로시작*/
    padding-top: 20px;
    padding-bottom: 60px;
}
.h1{
    font-size: 80px;
    font-weight: 700;
    font-family: 'Binggrae-Bold';
}
.h2{
    font-size: 54px;
    font-weight: 700;
    font-family: 'Binggrae-Bold';
}
.h3{
    font-size: 31px;
    font-weight: 700;
    font-family: 'Binggrae-Bold';
}
.h4{
    font-size: 27px;
    font-weight: 700;
    font-family: 'Binggrae-Bold';
}
.h5{
    font-size: 17px;    
    font-weight: 700;
    font-family: 'Binggrae-Bold';
}
/* flex */
.flex{
    display: flex;
}
.flexBetween{
    justify-content: space-between;
}
.flexAround{
    justify-content: space-around;
}
.flexEvenly{
    justify-content: space-evenly;
}
.flexCenter{
    justify-content: center;
}
.flexColumn{
    flex-direction: column;
}
.flexAlignCenter{
    align-items: center;
}
.flexAlignEnd{
    align-items: flex-end;
}
.flexWrap{
    flex-wrap: wrap;
}
.br{
    display: block;
}
.p{
    line-height: 1.5;
}
.padding50{
    padding: 50px;
}
.padding100{
    padding-top: 100px;
    padding-bottom: 100px;
}
.btn1{
height: 40px;
width: 130px;
text-align: center;
line-height: 40px;
border-radius: 20px;
background-color: red;
color: white;
font-size: 14px;
}
/* 글자정렬 */
.text-center{
    text-align: center;
}
/* 화살표 */
.more {
    position: relative;
    width: 100px;
    text-align: center;
    padding-right:30px
  }
.more::before{
    content: "";
    display:block;
    width:30px;
    height:2px;
    background-color:#333;
    position:absolute;
    right:0;
    top:calc(50% - 1px);
    z-index: 1;
  }
.more::after{
    content: "";
    display:block;
    width:8px;
    height:8px;
    border: 2px solid #333;
    transform:rotate(45deg);
    border-bottom:transparent;
    border-left: transparent;
    position:absolute;
    right:0;
    top:calc(50% - 5px);
  }
  