header {
  position: fixed;
  width: 100%;
  z-index: 2;
  position: relative;
  transform: translateY(120px);
  margin-top: -120px;
}
header a{
  color: #fff;
}
header .inner {
  height: 100px;
  padding-top: 20px;
  align-items: flex-end;
  width: 95%;
  position: relative;
}
header .inner h1 {
  /*! position: absolute; */
  /*! left: calc(50% - 100px); */
  /*! width: 200px; */
  /*! text-align: center; */
  order: 2;
}
header .inner .wgnb{
  order: 1;
}
header .inner .wgnb a.ham{
  font-size: 0;
  width: 36px;
  height: 36px;
  display: block;
  border-top: 3px solid;
  border-bottom: 3px solid;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
header .inner .wgnb a.ham::before{
  content: "";
  display: block;
  height: 3px;
  background-color: white;
  width: 100%;
}
header .inner h1 a {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 35px;
  text-transform: uppercase;
}
header .inner h1 a img{
  display: block;
  transform: translateY(-12px);
  filter: brightness(100);
}
header .inner ul.gnb {
 align-self: first baseline; 
}
header .inner ul.gnb li {
  
}
header .inner ul.gnb li h2 {
  
}
header .inner ul.gnb li h2 a {
  
}
header .inner ul.gnb li ul.gnbsub {
  
}
header .inner ul.gnb li ul.gnbsub li {
  
}
header .inner ul.gnb li ul.gnbsub li a {
  
}
header .inner ul.enb {
  
  order: 3;
}
header .inner ul.enb li {
  
}
header .inner ul.enb li a {
  color: black;
  font-weight: bold;
}
/* 클릭시 대메뉴 */
.wrapgnb{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapgnb ul.gnb{
  display: flex !important;
  gap: 20px;
}
.wrapgnb ul.gnb >li{
  
}
.wrapgnb ul.gnb >li h2{
  font-size: 24px;
  height: 24px;
  overflow: hidden;
  margin-bottom: 20px;
}
.wrapgnb ul.gnb > li h2 a{
  display: block;
  transform: translateY(100%);
  transition: transform 1s;
  transition-delay: 0.5s;
}
.wrapgnb ul.gnb >li ul li{
  margin-bottom: 10px;
  height: 16px;
  overflow: hidden;
}
.wrapgnb ul.gnb >li ul li a{
  display: block;
  transform: translateY(100%);
  transition: transform 1s;
  transition-delay: 1s;
}
.translateY{
  transform: translateY(0%) !important;
}
