.slick-prev, .slick-next {
    width: 23px;
    height: 23px;
    border: 6px solid #fefdfd;
    transform: rotate(45deg);
    z-index: 2;
    bottom: 40px;
    top: initial;
}
.slick-prev {
    right: 78px;
    border-top: transparent;
    border-right: transparent;
    left: initial;
}
.slick-next {
    right: 34px;
    border-bottom: transparent;
    border-left: transparent;
}
.slick-prev::before, .slick-next::before {
    color: #333;
    font-size: 30px;
    content: "";
}
.slick-prev::before {
    
}
.slick-next::before {
    
}
.slick-dots{
    bottom: 36px;
}
.slick-dots li button::before{
    font-size: 17px;
    transition: transform 0.5s,color 0.5s,opacity 0.5s;
}
.slick-dots li.slick-active button::before {
  opacity: .75;
  color: red;
  transform: scale(1.4);  
}